@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

code {
  font-family: "Inter", sans-serif;
}
.container {
  text-align: center;
  padding: 50px;
}
#profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}
h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
button {
  background-color: #eaecf0;
  padding: 24px 32px;
  width: 100%;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin: 8px 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.share {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.share1 {
  display: none;
}

.share2 {
  display: block;
}
#slack {
  display: none;
}
footer {
  margin: 30px 0;
}
.social {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.designs {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.designs p {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

@media (max-width: 700px) {
  .share {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  .share1 {
    display: block;
  }
  .share2 {
    display: none;
  }
  .designs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}
